---
import MainLayout from "../layouts/MainLayout.astro";
import HeroBackground from "../components/HeroBackground.astro";
import AboutSection1 from "../components/AboutSection1.astro";
import AboutSection2 from "../components/AboutSection2.astro";
import Accordion from "../components/Accordion.astro";
import Tag from "../components/Tag.astro";

import Hero from "../components/Hero.astro";

import { Image } from "astro:assets";
import about1 from "../assets/about1.avif";

import AboutEmpolyee from "../components/AboutEmpolyee.astro";

import CorevaluesSection from "../components/CorevaluesSection.astro";

const corevalueData = await fetch("https://raw.githubusercontent.com/espi0001/frontend-design/main/resources/json/corevalues.json").then((res) => res.json());

import EmployeeSection from "../components/EmployeeSection.astro";

const employeeData = await fetch("https://raw.githubusercontent.com/espi0001/frontend-design/main/resources/json/employees.json").then((res) => res.json());
const firstthreeemplloyees = employeeData.slice(0, 3);
---

<MainLayout title="About">
  <HeroBackground surface="about" tag="SERVICE" headline="Creative Services For Boost Your Business Growth" />
  <AboutSection1 />
  <AboutSection2 />

  <CorevaluesSection data={corevalueData} background="white" tagProps={{ style: "secondary" }} buttonProps1={{ style: "primary" }}>Growing with our Clients</CorevaluesSection>

  <AboutEmpolyee data={firstthreeemplloyees} />

  <!-- 

  <section class="core">
    <Tag style="secondary">Growing with our Clients</Tag>

    <CorevaluesSection data={corevalueData} buttonProps1={{ style: "secondary" }} buttonProps2={{ style: "primary" }} />
  </section>

  <section class="team">
    <p class="faq">Our team</p>
    <h2>We champion the bold to achieve the extraordinary</h2>
    <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.</p>
    <EmployeeSection data={employeeData} />
  </section>
  <section>
    <article class="accordion">
      <div class="overskrift-tag">
        <Tag style="primary">FAQ</Tag>
        <h2>Customer Questions</h2>
      </div>
      <div class="accordion-container">
        <Accordion overskrift1="What will happen when I’ve sent my application?" />

        <Accordion overskrift1="Can I get a free trial before I purchase?">
          <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
        </Accordion>

        <Accordion overskrift1="What should I include in my personal statement?" />

        <Accordion overskrift1="Will membership plans be charged automatically?" />

        <Accordion overskrift1="What will happen when I’ve sent my application?" />

        <Accordion overskrift1="Can I get a free trial before I purchase?" />
      </div>
    </article>
  </section> -->
</MainLayout>
<style>
  .team {
    color: black;
  }
  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .core {
    color: var(--color-primary3);
    background: var(--color-secondary1);
  }
  .accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 151px 236px;
    gap: 40px;
    background: var(--color-secondary1);
    color: var(--color-primary3);
    border-radius: 30px;

    .overskrift-tag {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 22px;
      padding-inline: 123px;
      .faq {
        background: var(--color-primary2);
        color: var(--color-secondary2);
        padding: 0 19px;
      }
    }
  }
</style>
