---
import Button from "./Button.astro";
---

<!-- <article>
  <div class="tekst">
    <h4>Subscribe Our Newsletter</h4>
    <p>Build stronger Customer Relationships with Consultalk</p>
  </div>
  <form name="newsletter" method="POST" data-netlify="true">
    <label for="email" class="email"> <input type="email" id="email" name="email" required placeholder="your mail address" /></label>
    <div class="knap">
      <button class="send_buttondiv" type="submit">Subscribe</button>
    </div>
  </form>
</article> -->
<div class="newsletter">
  <div class="text">
    <h4>Subscribe Our Newsletter</h4>
    <p>Build stronger Customer Relationships with Consultalk</p>
  </div>
  <div class="sign-up">
    <input class="newsletter-input" placeholder="Your email address" type="email" id="text" required />
    <Button style="secondary">Subscribe</Button>
  </div>
</div>

<style>
  @layer components {
    .newsletter {
      background: var(--color-primary3);
      display: flex;
      justify-content: space-between;
      padding: 5.5rem;
      position: relative;
      border-radius: 30px;
      overflow: hidden;
      align-items: center;
      max-width: 1200px;
      margin-bottom: 9rem;

      &:before {
        opacity: 0.6;
        transform: rotate(40deg);
        --square-count: 14;
        --square-size: 1.34rem;
        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));
        z-index: 2;
        content: "";
        position: absolute;
        inset: -150px -100px auto auto;
        inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
        aspect-ratio: 1;
        background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
          var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
      }

      &:after {
        content: "";
        position: absolute;
        background: var(--color-primary2);
        width: 150px;
        height: 200px;
        border-radius: 20px;
        z-index: 2;
        right: -40px;
        bottom: -120px;
        transform: rotate(45deg);
      }

      & h4,
      p {
        color: var(--color-secondary2);
      }
      .sign-up {
        z-index: 3;
        display: flex;
        gap: 21px;
        input {
          border-radius: 100px;
          background: var(--color-secondary2);
          padding: 18px;
          width: 310px;
          z-index: 10;
        }
      }
    }
    @media (width < 700px) {
      .newsletter {
        flex-direction: column;
        gap: 21px;
        padding: 3rem;
      }
      .sign-up {
        /* flex-direction: column; */
        input {
          width: 180px;
        }
      }
    }
  }
</style>
