---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 0;

    scroll-snap-type: x mandatory;
    grid-column: full;
    padding-inline: max(1rem, 50% - 50rem / 2);
    padding-block-end: 1rem;

    > * {
      flex: 1 0 50%;
      background-color:#EBEBEB;
      padding: 2.75rem 2.1875rem;
      border-radius: 8px;
      color: #595566;
    }
  }
</style>
